<h3>Publications</h3>
<hr>
{% for paper in site.data.pubs -%}
  {%- unless paper.preprint -%}
    {%- assign paper_link = paper.web | default: paper.pdf -%}
    <div class="row paper year" data-year="{{ paper.date | slice: 0, 4 }}"{% if paper.authors %} data-authors="{{ paper.authors | join: ',' }}"{% endif %}>
      <div class="col-sm-3 paper-img">
        {%- if paper.img -%}
          <a href="{{ paper_link }}"><img src="/{{ paper.img }}" alt="{{ paper.title }}" class="img-responsive"/></a>
        {%- endif %}
      </div>
      <div class="col-xs-9 paper-text">
        <a href="{{ paper_link }}" class="paper-title">{{ paper.title }}</a><br>
        {%- if paper.authors -%}
          {%- for author_id in paper.authors -%}{%- assign author = site.data.people[author_id] -%}{%- if author -%}{%- if author.web -%}<a href="{{ author.web }}">{{ author.name }}</a>{%- else -%}{{ author.name }}{%- endif -%}{%- else -%}{{ author_id }}{%- endif -%}{% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
        {%- else -%}
          {{ paper.authors }}
        {%- endif %}
        <br>
        {{ paper.text }}<br>
        {%- if paper.pdf %}<a href="{{ paper.pdf }}">pdf</a>{% endif -%}
        {%- for item in paper -%}
          {%- assign key = item[0] -%}
          {%- assign value = item[1] -%}
          {%- unless key == 'web' or key == 'title' or key == 'authors' or key == 'img' or key == 'date' or key == 'text' or key == 'pdf' or key == 'preprint' -%}
            | <a href="{{ value }}">{{ key }}</a>
          {%- endunless -%}
        {%- endfor -%}
        {%- if paper.web %} | <a href="{{ paper.web }}">webpage</a>{% endif %}
      </div>
    </div>
  {%- endunless %}
{%- endfor %}
