@import 'nib'

@import url(https://fonts.googleapis.com/css?family=Lato)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css)

$cardinal-red = #8C1515
$princeton-orange = #E87722
$cool-gray = #4D4F53

body
  font-family Lato

hr
  margin-top 0px
  margin-bottom 1em

h1, h2, h3, h4
  margin-top 1em
  margin-bottom 0px
  font-variant-caps small-caps

h3, h4
  font-weight bold

a, a:hover
  color: $cardinal-red

.vertical-center
  display flex
  align-items center

.paper
  padding-bottom 1em

.paper-title
  font-weight bold
  color $cardinal-red

.paper-img
  @extend .vertical-center
  // max-height 150px

.project-img
  // @extend .vertical-center
  min-height 200px
