<p>
  I am an Assistant Professor in the School of Computing Science at <a href="https://www.sfu.ca">Simon Fraser University</a>.
  My research focuses on analysis, organization and generation of 3D content through a human-centric lens of "common sense" semantics.
  The methods that I work on are stepping stones towards holistic 3D scene understanding revolving around people, with applications in computer graphics, computer vision, and robotics.
</p>
<p>
  Prior to my current position I was a visiting researcher at <a href="https://research.fb.com/category/facebook-ai-research/">Facebook AI Research</a> and a postdoctoral research associate at the Princeton University <a href="https://gfx.cs.princeton.edu/">Computer Graphics</a> and <a href="https://vision.princeton.edu/">Vision</a> Labs.
  I received my Ph.D. from <a href="https://www.stanford.edu">Stanford University</a>, under the supervision of <a href="https://graphics.stanford.edu/~hanrahan">Pat Hanrahan</a>.
  My undergraduate degree was in Physics and Computer Science at <a href="https://www.cornell.edu">Cornell University</a>.
</p>
<!-- <h3>Research Interests</h3>
<ul>
  <li>Human-centric 3D scene analysis</li>
  <li>3D scene synthesis for VR/AR content creation, and learning through simulation</li>
  <li>Connecting natural language with 3D representations</li>
  <li>Data visualization</li>
</ul> -->
