<div style="margin-bottom:0.1cm;"><img class="img img-responsive" src="files/photo.jpg" alt="Manolis Savva" width="250px"/></div>
<div>Associate Professor</div>
<div><a href="https://www.sfu.ca/">Simon Fraser University</a></div>
<div><a href="https://cs.sfu.ca/">School of Computing Science</a></div>
<div style="margin-bottom:0.3cm;"><a href="https://3dlg-hcvc.github.io">3DLG</a> | <a href="https://gruvi.cs.sfu.ca//">GrUVi</a> | <a href="http://ml.cs.sfu.ca/">SFU AI/ML</a> | <a href="https://vinci.sfu.ca">VINCI</a></div>
<div style="margin-bottom:0.3cm;"><a href='https://www.chairs-chaires.gc.ca/home-accueil-eng.aspx'>Canada Research Chair</a> in<br>Computer Graphics</div>
<!-- <div>8888 University Dr., Burnaby BC, Canada</div> -->
<div style="margin-bottom:0.3cm;"><a href="files/CV.pdf">CV/R&eacute;sum&eacute;</a> (updated 2018-10-13)</div>
<a href="https://github.com/msavva" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
&nbsp;
<a href="mailto:msavva@sfu.ca"><i class="fa fa-envelope-square fa-3x"></i></a>
&nbsp;
<a href="https://scholar.google.com/citations?user=4D2vsdYAAAAJ" target="_blank"><i class="fa fa-graduation-cap fa-3x"></i></a>
&nbsp;