<h3>Teaching</h3>
<hr>
<strong>Spring 2022</strong><br>
<a href="https://canvas.sfu.ca/courses/68030">CMPT700: Technical Writing & Research Comm.</a><br>
<a href="http://yaksoy.github.io/introvc/">CMPT361: Intro to Visual Computing</a><br>
<strong>Fall 2021</strong><br>
<a href="http://yaksoy.github.io/introvc/">CMPT361: Intro to Visual Computing</a><br>
<strong>Spring 2021</strong><br>
<a href="https://canvas.sfu.ca/courses/59537">CMPT700: Technical Writing & Research Comm.</a><br>
<strong>Fall 2019 & Fall 2020</strong><br>
<a href="https://msavva.github.io/cmpt757/">CMPT757: Frontiers of Visual Computing</a><br>
<strong>Summer 2015 (Stanford)</strong><br>
<a href="http://web.stanford.edu/class/cs148/">CS148: Intro to Comp. Graphics & Imaging</a>